<script lang="ts">
import Vue from 'vue';
import { init } from 'aos';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  ComparisonHero,
  TabOverview,
  TabAnalysis,
  CompetitorCards,
} from '~/components/competition/index.vue';
import { NextStep } from '~/components/common/index';

import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    ComparisonHero,
    NextStep,
    TabOverview,
    CompetitorCards,
    TabAnalysis,
  },
  async asyncData({ $content, error }: any) {
    try {
      const templateData = await $content(`competition/template`).fetch();
      const githubData = await $content(`competition/github`).fetch();

      const data = {
        templateData,
        githubData,
      };

      return { data };
    } catch (e) {
      return error({ statusCode: 404 });
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).data.githubData, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>

<template>
  <div>
    <ComparisonHero
      :template-data="data.templateData.hero"
      :comparison-data="data.githubData.hero"
    />
    <SlpContainer>
      <TabOverview :data="data.githubData.overview" />
    </SlpContainer>
    <SlpContainer>
      <TabAnalysis :data="data.githubData.analysis" />
    </SlpContainer>
    <SlpContainer variant="light-purple-100" class="slp-my-96">
      <CompetitorCards :data="data.githubData.competitor_cards" />
    </SlpContainer>
    <SlpContainer class="slp-mt-96 next-steps__container" variant="gradient">
      <NextStep />
    </SlpContainer>
    <SlpTopButton data-ga-name="to-top" data-ga-location="body" />
  </div>
</template>

<style scoped lang="scss">
.slp-top-btn {
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.next-steps__container {
  @media (max-width: $breakpoint-md) {
    margin-top: 40px;
  }
}
</style>
