<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'FunFacts',
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <section class="funFacts">
    <div class="funFacts__header">
      <SlpTypography tag="h2" variant="heading2">
        {{ data.header }}
      </SlpTypography>
      <nuxt-img :src="data.image" :alt="data.image_alt_text" loading="lazy" />
    </div>
    <div class="funFacts__content">
      <div
        v-for="(fact, index) in data.facts"
        :key="`funfact${index}`"
        class="funFacts__fact"
      >
        <div class="funFacts__checkmark">
          <div>{{ index + 1 }}</div>
        </div>
        <div class="funFacts__fact__text" v-html="$md.render(fact)"></div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.funFacts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  grid-gap: 15px;
  margin: 0 auto;
  margin-bottom: 64px;
  max-width: 100%;
  position: relative;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 160px;
    max-width: 1140px;
  }
}

.funFacts__header {
  grid-column: 1 / -1;

  @media (min-width: $breakpoint-lg) {
    grid-column: 1 / 6;
  }
}

h2 {
  color: #333;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 40px;
  @media (min-width: $breakpoint-lg) {
    font-size: 44px;
  }
}

.funFacts__content {
  grid-column: 1 / -1;
  @media (min-width: $breakpoint-lg) {
    grid-column: 6 / 11;
  }
}

.funFacts__fact {
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  &:first-of-type {
    border-top: 1px solid #f2f2f2;
  }
}

.funFacts__fact:deep p a {
  color: #7d2bd9;
}

.funFacts__checkmark {
  align-items: center;
  background-color: #7d2bd9;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  justify-content: center;
  margin-right: 12px;
  width: 24px;
}

.funFacts__fact__text {
  color: #333;
  flex: 1;
  font-size: 16px;
  font-weight: 400;
  a {
    color: #7d2bd9 !important;
    text-decoration: underline !important;
  }
}
</style>
